body, html {
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: 'Raleway', Verdana;
}

footer {
    position: fixed;
    display: block;
    text-align: center;
    font-size: 0.85em;
    letter-spacing: 0.03em;
    word-spacing: 0.5em;
    left: 50%;
    bottom: 0;
    margin: 0 auto;
    transform: translate(-50%, 0);
}

#menu {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    height: 20%;
    top: 30%; /* 40% - height/2 */
}

.fade-in {
    -webkit-animation: fade-in 2s forwards;
    -moz-animation: fade-in 2s forwards;
    -o-animation: fade-in 2s forwards;
    -ms-animation: fade-in 2s forwards;
    animation: fade-in 2s forwards;
}

/* #arrow {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    height: 4%;
    width: 5%;
    top: 60%;
    right: 0;
    transform: translate(-50%, -75%);
} */

.item {
    position: relative;
    display: flex;
    padding: 0% 2%;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    cursor: pointer;
}

@-webkit-keyframes  zoom { to { font-size: 25000%; }}
@-moz-keyframes     zoom { to { font-size: 25000%; }}
@-o-keyframes       zoom { to { font-size: 25000%; }}
@-ms-keyframes      zoom { to { font-size: 25000%; }}
@keyframes          zoom { to { font-size: 25000%; }}

@-webkit-keyframes  white-out { to { background: white; }}
@-moz-keyframes     white-out { to { background: white; }}
@-o-keyframes       white-out { to { background: white; }}
@-ms-keyframes      white-out { to { background: white; }}
@keyframes          white-out { to { background: white; }}

@-webkit-keyframes  fade-out { to { opacity: 0; }}
@-moz-keyframes     fade-out { to { opacity: 0; }}
@-o-keyframes       fade-out { to { opacity: 0; }}
@-ms-keyframes      fade-out { to { opacity: 0; }}
@keyframes          fade-out { to { opacity: 0; }}

@-webkit-keyframes  fade-in { from { opacity: 0; } to { opacity: 1; }}
@-moz-keyframes     fade-in { from { opacity: 0; } to { opacity: 1; }}
@-o-keyframes       fade-in { from { opacity: 0; } to { opacity: 1; }}
@-ms-keyframes      fade-in { from { opacity: 0; } to { opacity: 1; }}
@keyframes          fade-in { from { opacity: 0; } to { opacity: 1; }}