* {
    font-family: 'Raleway', Verdana;
    word-spacing: 0.25em;
    line-height: 1.5em;
    color: black;
}

body {
    background-color: white;
    padding: 0 20vw;
    display: block;
}

h1 {
    font-size: 300%;
    margin-top: 1em;
    line-height: 0.75em;
    text-align: center;
}

h1:hover {
    cursor: pointer;
}

.icon {
    mix-blend-mode: multiply;
    position: fixed;
    width: 2.25em;
    height: 2.25em;
    top: 3em;
    left: 3em;
}

.featured {
    position: relative;
    width: 100%;
    padding-bottom: 66.65%;
    margin: auto;
}

.featured > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.location {
    text-align: right;
}

.fade-in {
    -webkit-animation: fade-in 2s forwards;
    -moz-animation: fade-in 2s forwards;
    -o-animation: fade-in 2s forwards;
    -ms-animation: fade-in 2s forwards;
    animation: fade-in 2s forwards;
}

@-webkit-keyframes  fade-in { from { opacity: 0; } to { opacity: 1; }}
@-moz-keyframes     fade-in { from { opacity: 0; } to { opacity: 1; }}
@-o-keyframes       fade-in { from { opacity: 0; } to { opacity: 1; }}
@-ms-keyframes      fade-in { from { opacity: 0; } to { opacity: 1; }}
@keyframes          fade-in { from { opacity: 0; } to { opacity: 1; }}