* {
    font-family: 'Raleway', Verdana;
    word-spacing: 0.25em;
    line-height: 1.5em;
    color: black;
}

body {
    background-color: white;
    padding: 0 20vw;
    display: block;
}

footer {
    position: fixed;
    font-size: 0.85em;
    letter-spacing: 0.03em;
    word-spacing: 0.5em;
    right: 8.75vw;
    bottom: 0;
    margin: 0 auto;
    transform: translate(-50%, 0);
}

form {
    display: none;
    height: 1.625em;
    margin-top: 3.68em;
    margin-bottom: 2.8em;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

form > input {
    width: 70%;
}

form > button {
    margin-left: 2%;
    width: 30%;
    background-color: white;
    border-radius: 5px;
    border-width: 2px;
}

form > button:hover, form > span:hover {
    border-width: 2px;
    font-weight: bold;
}

form > button:focus, form > span:focus {
    background-color: #f0f0f0;
}

#robot {
    height: 3.65em;
    padding: 0 0;
    margin: 0 0;
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#robot:hover {
    cursor: pointer;
}

#metadata {
    text-align: left;
    line-height: 1.5em;
    margin: 0.25em 0;
}

#location {
    float: right;
}

.robot_container {
    align-items: center;
}

#dog {
    mix-blend-mode: multiply;
    position: fixed;
    width: 2.25em;
    height: 2.25em;
    top: 3em;
    left: 3em;
}

.featured {
    position: relative;
    width: 100%;
    padding-bottom: 66.67%;
}

.featured > * {
    position: absolute;
    width: 100%;
    top: 0;
}

.fade-in {
    -webkit-animation: fade-in 2s forwards;
    -moz-animation: fade-in 2s forwards;
    -o-animation: fade-in 2s forwards;
    -ms-animation: fade-in 2s forwards;
    animation: fade-in 2s forwards;
}

.img-fade-in {
    -webkit-animation: img-fade-in 1.5s forwards;
    -moz-animation: img-fade-in 1.5s forwards;
    -o-animation: img-fade-in 1.5s forwards;
    -ms-animation: img-fade-in 1.5s forwards;
    animation: img-fade-in 1.5s forwards;
}

.toggle {
    -webkit-animation: toggle 5s linear;
    -moz-animation: toggle 5s linear;
    -o-animation: toggle 5s linear;
    -ms-animation: toggle 5s linear;
    animation: toggle 5s linear;
    animation: toggle 5s linear;
}

@-webkit-keyframes  fade-in { from { opacity: 0; } to { opacity: 1; }}
@-moz-keyframes     fade-in { from { opacity: 0; } to { opacity: 1; }}
@-o-keyframes       fade-in { from { opacity: 0; } to { opacity: 1; }}
@-ms-keyframes      fade-in { from { opacity: 0; } to { opacity: 1; }}
@keyframes          fade-in { from { opacity: 0; } to { opacity: 1; }}

@-webkit-keyframes  img-fade-in { from { opacity: 0; } to { opacity: 1; }}
@-moz-keyframes     img-fade-in { from { opacity: 0; } to { opacity: 1; }}
@-o-keyframes       img-fade-in { from { opacity: 0; } to { opacity: 1; }}
@-ms-keyframes      img-fade-in { from { opacity: 0; } to { opacity: 1; }}
@keyframes          img-fade-in { from { opacity: 0; } to { opacity: 1; }}

@-webkit-keyframes  toggle { 0%,15%,100% { opacity: 1 } 20%,90% { opacity: 0 }}
@-moz-keyframes     toggle { 0%,15%,100% { opacity: 1 } 20%,90% { opacity: 0 }}
@-o-keyframes       toggle { 0%,15%,100% { opacity: 1 } 20%,90% { opacity: 0 }}
@-ms-keyframes      toggle { 0%,15%,100% { opacity: 1 } 20%,90% { opacity: 0 }}
@keyframes          toggle { 0%,15%,100% { opacity: 1 } 20%,90% { opacity: 0 }}