* {
  font-family: 'Raleway', Verdana;
  color: black;
}

body {
  background-color: white;
  padding: 0 5vw;
  display: block;
}

main {
  padding: 0 15vw;
}

h1 {
  padding-top: 10px;
  font-size: 350%;
  line-height: 79px;
}

p {
  text-indent: 1em;
  font-size: large;
  line-height: 200%;
}


a {
  text-decoration: none;
}

.title {
  text-align: center;
}

.story-list {
  position: relative;
}

.story {
  margin-top: 85px;
}

.bullet {
  float: left;
  margin-right: -55px;
  background: white;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  height: 75px;
  width: 75px;
  border-radius: 100px;
}

.line {
  background: black;
  z-index: -1;
  width: 2px;
  height: 110%;
  position: absolute;
  left: 37.5px;
  top: -100px;
}

.featured {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 2%;
  object-fit: scale-down;
}

.featured > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.icon {
  mix-blend-mode: multiply;
  position: fixed;
  width: 2.25em;
  height: 2.25em;
  top: 3em;
  left: 3em;
}

.fade-in {
  -webkit-animation: fade-in 2s forwards;
  -moz-animation: fade-in 2s forwards;
  -o-animation: fade-in 2s forwards;
  -ms-animation: fade-in 2s forwards;
  animation: fade-in 2s forwards;
}

@-webkit-keyframes  fade-in { from { opacity: 0; } to { opacity: 1; }}
@-moz-keyframes     fade-in { from { opacity: 0; } to { opacity: 1; }}
@-o-keyframes       fade-in { from { opacity: 0; } to { opacity: 1; }}
@-ms-keyframes      fade-in { from { opacity: 0; } to { opacity: 1; }}
@keyframes          fade-in { from { opacity: 0; } to { opacity: 1; }}