body, html {
    background-color: white;
    color: black;
    font-family: 'Raleway', Verdana;
}

#test-content {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    height: 20%;
    top: 50%;
    left: 50%;
    font-size: 2.5vw;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.fade-in {
    -webkit-animation: fade-in 2s forwards;
    -moz-animation: fade-in 2s forwards;
    -o-animation: fade-in 2s forwards;
    -ms-animation: fade-in 2s forwards;
    animation: fade-in 2s forwards;
}

@-webkit-keyframes  fade-in { from { opacity: 0; } to { opacity: 1; }}
@-moz-keyframes     fade-in { from { opacity: 0; } to { opacity: 1; }}
@-o-keyframes       fade-in { from { opacity: 0; } to { opacity: 1; }}
@-ms-keyframes      fade-in { from { opacity: 0; } to { opacity: 1; }}
@keyframes          fade-in { from { opacity: 0; } to { opacity: 1; }}