# disable automatic directory detection
# DirectorySlash Off
# IndexOptions FancyIndexing
# Options All

# makes the .html extension disappear
RewriteEngine On
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# hides stories direcory
RedirectMatch 404 /\stories